root = true

[*.{py,js,json,md,html,css,txt,xml,csv}]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.bat]
end_of_line = crlf

[*.ps1]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

